.loginFormContainer {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background: #ffffff;
    border-radius: 4px;
}

.labelContainer {
    margin-bottom: 15px;
}

.loginLabel {
    display: block;
    margin-bottom: 5px;
    font-weight: 300;
    color: #333;
}

.loginInput {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid #ccc;

    background-image: linear-gradient(to right, #000080, #800080);
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: 0 100%;
    transition: background-size 0.8s ease;
}

.loginInput:focus {
    outline: none;

    background-size: 100% 2px;
}


.loginInput:focus {
    outline: none;
}

.submitBtn {
    margin-top: 25px;
    width: 100%;
    padding: 13px;
    font-size: 16px;
    background: linear-gradient(45deg, #000080, #800080);
    background-size: 150% auto;
    background-position: left center;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-position 0.6s ease;
}

.submitBtn:hover {
    background-position: right center;
}

.googleBtn,
.appleBtn {
    margin-top: 25px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.6s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

.googleBtn {
    background: #0058ff;
    color: #fff;
}

.googleBtn:hover {
    background: #0050e6;

}

.appleBtn {
    background: #cccccc;
}

.appleBtn:hover {
    background: #b3b3b3;
}

/* Dodaj margines do ikon */
.loginTypeIcons {
    font-size: 1.5em;
    margin-right: 8px;
}


.forgotPassword {
    margin-top: 10px;
    text-align: right;
}

.register {
    margin-top: 60px;
    text-align: center;
}

.blue {
    color: #004cdd;
}